<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">
	<link rel="shortcut icon" href="#">
	<title>Tor Network URLs</title>
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a href="https://www.torproject.org/"><img src="../../images/tor-logo.png" id="logo-image"/></a><span class="logo">Web Crawler</span>
	</nav>
	<br>
	<div class="btn-group-vertical">
		<a class="list-group-item list-group-item-action list-group-item-dark border-0 active disabled" th:href="@{/tor-urls/list}"><img src="../../images/tor-onion-black.png" style="margin-right:10px; width:14%; height:94%;"/>Tor URL List</a>
		<a class="list-group-item list-group-item-action list-group-item-dark border-0" th:href="@{/web-page-content/list}"><img src="../../images/tor-onion-purple.png" style="margin-right:10px; width:14%; height:92%;"/>Web Page Content</a>
		<a class="list-group-item list-group-item-action list-group-item-dark border-0" th:href="@{/threat-types/list}"><img src="../../images/tor-onion-purple.png" style="margin-right:10px; width:14%; height:92%;"/>Cyber Threat Info</a>
	</div>

<div id="url-container">
	<h3>Tor Network URLs</h3>
	<hr>
	
	<div th:if="${isDuplicate}">
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
		  <strong>This URL is already in the list</strong>
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
	</div>
	<div th:if="${isNotValid}">
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
		  <strong>This URL is not valid</strong>
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
	</div>
	
	<nav class="navbar navbar-light crawl-search-section">
	  <form action="/" th:action="@{/tor-web-crawler/crawl-url}" method="POST" class="form-inline" autocomplete="off">
		    <input class="form-control mr-sm-2 ml-0" id="crawl-form" type="text" name="url" placeholder="Type a Tor URL" aria-label="Search" required>
		    <input class="form-control mr-sm-2" id="crawl-page-number-form" type="number" min="0" max="100" name="urlPageNo" placeholder="No of Pages" aria-label="Search">
		    <button class="btn btn-dark my-2 my-sm-0" type="submit">Crawl</button>
	  </form>
	  <form action="#" th:action="@{/tor-urls/search(keyword=${keyword})}" th:object="${torUrls}" method="GET"
	  		class="form-inline my-2 my-lg-0" autocomplete="off">
	        <input class="form-control mr-sm-2" id="search-form" name="keyword" type="text" placeholder="Search" aria-label="Search">
	        <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
      </form>
	</nav>
	
	<table class="table table-bordered table-striped mt-3">
		<thead class="thead-dark">
			<tr>
				<th id="url-header">Tor Network URL</th>
				<th id="url-status-header" colspan="2">Status</th>
				<th id="url-action-header">Action</th>
			</tr>
		</thead>
		<tbody class="table">
			<tr id="url-row" th:each="tempTorUrl : ${torUrls}">
				<td th:text="${tempTorUrl.url}"/>
				<td id="url-status-cell" th:text="${tempTorUrl.status}"/>
				<td><span th:classappend="${(tempTorUrl.status == 'Alive' ? 'green-dot' : (tempTorUrl.status=='Offline' ? 'red-dot' : 'yellow-dot'))}"></span></td>
				<td id="url-action-cell">
					<a th:href="@{/web-page-content/showContent(torUrl=${tempTorUrl.url})}" class="btn btn-primary btn-sm add-button" th:classappend="${tempTorUrl.status != 'Alive' ? 'disabled' : ''}">Open</a>
					<a th:href="@{/tor-urls/showUpdateForm(torUrlId=${tempTorUrl.id})}" class="btn btn-info btn-sm add-button">Edit</a>
					<a th:href="@{/tor-urls/delete(torUrlId=${tempTorUrl.id})}" class="btn btn-danger btn-sm add-button" onclick="if (!(confirm('Are you sure you want to delete this URL?'))) return false">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>

</div>

</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

</html>